#This file contains instructions about the files to import or exclude in setup

include versioneer.py
include EM_shower_simulator/_version.py

global-include *README.rst
global-include *.png

include LICENSE
include setup.cfg
include requirements.txt
include dataset/filtered_data/data_MVA.root

prune docs
prune slides
